
body {
  margin: 0px;
  padding-top: 0px;
  font-family: 'Helvetica';
  line-height: 1.5;
  align-content: center;
  background-attachment: fixed;
  overflow: scroll; 
}
body, html {
  height: 100%;
  width: 100%;
}

.responsive {
  width: 100%;
  height: auto;
}

.content {
  margin-top: -10px;
}

#container {
  height: auto;
  width: auto;
  position: relative;
}

#container2 {
  height: auto;
  width: auto;
  position: relative;
  align-content: right;
  text-align: right;
  align-items: right;
}

#image {
  position: relative;
}


/**INDEX**/
.bg {
  background-image: url("../img/PLEASE.JPG");
  height: 200%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#text {
  /**Index head**/
  z-index: 0;
  position: absolute;
  color: black;
  font-size: 80px;
  font-weight: bold;
  left: 30px;
  top: 30px;
}
#text2 {
/**index body**/
  font-family: 'Arial';
  z-index: 0;
  position: absolute;
  color: black;
  font-size: 30px;
  font-weight: italic;
  left: 30px;
  top: 60px;
  opacity: 0.9;
  line-height: 25px;
}
#text3 {
  /**index foot**/
  z-index: 0;
  position: absolute;
  color: #A9A7F4;
  font-size: 15px;
  font-weight: italic;
  left: 30px;
  top: 450px;
  opacity: 0.9;
}

/* Dropdown Button */
.dropbtn {
  /*background-color: #4CAF50;*/
  padding: 20px;
  z-index: 0;
  position: relative;
  color: black;
  font-size: 40px;
  font-weight: bold;
  left: 10px;
  top: 10px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  top: 20px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: teal;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 30px;
  font-size: 20px;
  font-style: bold;
}
/* Links inside the dropdown */
.dropdown-content a {
  font-size: 10px;
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-style: bold;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color: #3e8e41;} */





main {
  max-width: auto;
  margin: auto;
}


.faded {
  opacity: 0.5;
}
.faded1 {
  opacity: 0.6;
}

.color {

  color: red;

}

img {
  max-width: 100%;
  max-height: auto;
}

footer {
  text-align: bottom;
  bottom: 0;
  position: absolute;
}

@media {(max-width: 4000px)}


a {
  color: inherit; 
  text-decoration: inherit; 
}
a:hover {
color: inherit; 
  text-decoration: inherit;
}

a:active {
  color: inherit; 
  text-decoration: inherit;
}

a:visited {
  color: inherit; 
  text-decoration: inherit;
}
